<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guangtong.dao.beidou.AlarmrecordDao">

	<!-- 获取全部平台报警数量 -->
	<select id="getPlatAlarmCount" resultType="int" parameterType="java.lang.String">
		select count(*)
		from logistics_beidou.alarmrecord lba
		where 1 = 1
		<if test='plateNo != null &amp;&amp; !plateNo.equals("") '>
			lba.plateNo #{plateNo}
		</if>
	</select>

	<select id="getALLNewestAlarm" parameterType="java.lang.String" resultType="cn.guangtong.entity.beidou.Alarmrecord">
		select *
		from logistics_beidou.alarmrecord
		where createDate &gt;#{now}
		AND childType!='GpsOnline'
		AND childType!='GpsOffline'
	</select>


</mapper>